/* Sticky Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* border divider */

.border {
    height: 1px;
    overflow: hidden;
    background-color: #e0e0e0;
}

/* base.html style changes */

nav .brand-logo, nav ul a, nav a {
    color: #263238;
}

nav ul a:hover, .sidenav li>a:hover {
    background-color: rgba( 0, 150, 136, .2)
}

@media only screen and (min-width: 993px) {
    nav .brand-logo {
        padding-left: 25px;
    }
}

/* Custom typography */

.font-script {
    font-family: 'Kaushan Script', cursive;
}

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

/* card style */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.card.small .card-image {
    min-height: 80%;
    max-height: 80%;
}

.card.small .card-image.spot {
    min-height: 100%;
    max-height: 100%;
}

.card.small .card-image+.card-content {
    min-height: 20%;
    max-height: 20%;
}

.card .card-image img {
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
}

.card .card-content {
    padding: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background: #32ffcf;
    background: -moz-linear-gradient(45deg, #32ffcf 0%, #fff189 100%);
    background: -webkit-linear-gradient(45deg, #32ffcf 0%,#fff189 100%);
    background: linear-gradient(45deg, #32ffcf 0%,#fff189 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#32ffcf', endColorstr='#fff189',GradientType=1 );
    opacity: .15;
}

.card:hover .card-image .overlay {
    opacity: .4;
}

/* rating button */

.btn-floating, .btn-floating:hover, .btn-floating:active, .btn-floating:visited, .btn-floating:focus {
    position: absolute;
    width: 60px;
    height: 60px;
    box-shadow: none;
    cursor: default;
    color: blue;
}

.btn-floating.halfway-fab {
    top: 5px;
    right: 0;
}

.card .card-image .btn-floating i {
    color: rgba(38, 50, 56, .5);
    font-size: 50px;
    line-height: 50px;
}

.card .card-image .btn-floating .rating-floating {
    color: white;
    font-size: 18px;
    line-height: 18px;
} 

.card .card-image .card-title {
    background-color: rgba(38, 50, 56, .5);
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 24px;
    padding-right: 6px;
    margin-bottom: 22px;
    margin-top: 22px;
}

/* index.html style changes */

.hero-img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.welcome-txt {
    position: absolute;
    top: 250px;
    color: white;
}

.welcome-txt h3 {
    width: 100%;
}

.welcome-btn {
    position: absolute;
    top: 400px;
    color: white;
}

.welcome-btn a {
    margin: 0 auto;
}

#explore {
    color: #263238;
    background-color: white;
}

#explore:hover {
    transform: scale(1.1);
}

/* footer */

.page-footer {
    background-image: url("../assets/footer.jpg");
    overflow: hidden;
}

.logo img {
    padding-top: 25px;
    opacity: .8;
}

.page-footer .footer-copyright {
    display: block;
    margin: 0 auto;
    padding: 5px 0px;
}

/* Buttons style */

.row .col a.btn-space {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Search */

input {
    overflow-y: scroll;
}

label {
    color: #263238;
}

.space-top {
    margin-top: 25px;
}

.space-bottom {
    margin-bottom: 25px;
}

.space {
    margin-top: 50px;
    margin-bottom: 50px;    
}

#advanced_btn {
    font-size: 16px;
    cursor: pointer;
    color: #263238;
    text-decoration: underline;
}

#advanced_form {
    padding-top: 25px;
}

/* Login form layout */

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border: 1px solid lightgrey;
}

.form-empty {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border: none;
}

/* Font Awesome */

.fab {
    color: #263238;
}

.page-footer .fab {
    color: white;
    padding: 20px;
}

/* Login error */

.oups {
    color: red;
}

/* Forms style */

#desc {
    margin-top: 30px;
}

textarea.materialize-textarea {
    overflow-y: scroll;
}

/* Edit Form error */

.checkbox-error {
    color: red;
}

/* pagination */

.pagination li.active {
    background-color: #03a9f4;
}

/* about */

.about {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
    overflow: hidden;
}

.about img {
    object-fit: cover;
    object-position: 50% 50%;
    max-width: 100%;
}

#quote {
    width: 200px;
    position: absolute;
    color: white;
    line-height: 50px;
}