nav .brand-logo, nav ul a, nav a {
    color: #263238;
}

.hero-img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.hero-img .col {
    padding: 0; 
}

.hero-img h3 {
    width: 100%;
    position: absolute;
    color: white;
}