/* Sticky Footer */

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/* base.html style changes */

nav .brand-logo, nav ul a, nav a {
    color: #263238;
}

/* index.html style changes */

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    margin-right: 0;
}

.hero-img {
    height: 500px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.welcome-txt {
    position: absolute;
    top: 250px;
    color: white;
}

.welcome-txt h3 {
    width: 100%;
}

.welcome-btn {
    position: absolute;
    top: 400px;
    color: white;
}

.welcome-btn a {
    margin: 0 auto;
}

#explore {
    color: #263238;
    background-color: white;
}

#explore:hover {
    transform: scale(1.1);
}

.page-footer {
    background-image: url("../assets/footer.jpg");
}

/* Search */

input {
    overflow-y: scroll;
}

label {
    color: #263238;
}

.space {
    margin-top: 50px;
    margin-bottom: 50px;
}

#advanced_btn {
    font-size: 12px;
    cursor: pointer;
    color: #263238;
}

#advanced_form {
    padding-top: 25px;
}

/* star button */

.btn-floating, .btn-floating:hover, .btn-floating:active, .btn-floating:visited, .btn-floating:focus {
    width: 50px;
    box-shadow: none;
    cursor: default;
    color: blue;
}

.btn-floating i {
    font-size: 3rem;
    margin: 0 auto;
}

.rating-floating {
    font-size: 1.2rem;
    margin: 0 auto;
}

/* Login form layout */

.form {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 25px;
    border: 1px solid lightgrey;
}