{% extends 'base.html' %}

{% block content %}

<div class="container space">
    <div class="row">
        <div class="col s12">
            <p><span class="font-script">SurfingEurope</span> is the 'new kid on the block' in the neighborhood of surfing destinations sites, but already gaining popularity among surfing enthusiasts and alike. Whether you're a travelling pro, big wave rider, local star or weekend warrior, with our range of locations you will always find some place iin europe to keep you going.</p>
            <p><span class="font-script">SurfingEurope</span> isn't about telling you where to go or when, instead providing you with crucial details on the locaions to allow you to become your own surf hunter. We believe in community therefore we encourage all our members to share the local knowledge by adding comments and rating the spots according to their judgement and knowledge. With a little of your time and the help we provide you can explore some of the finest location in Europe!</p>
        </div>

        <div class="col s12">
            <p>Please find below some charts giving you some insights into our collection</p>
        </div>

        <div class="col s12 l6 chart space-top">
            <p class="space-bottom">Break types per location</p>
            <div id="break_types_per_loc"></div>
        </div>
        <div class="col s12 l6 chart space-top">
            <p class="space-bottom">Bottom diversity per location</p>
            <div id="bottoms_per_loc"></div>
        </div>
        <div class="col s12 l6 chart space-top">
            <p class="space-bottom">Facility type per location</p>
            <div id="facilities_per_loc"></div>
        </div>
        <div class="col s12 l6 chart space-top">
            <p class="space-bottom">Hazard type per location</p>
            <div id="hazards_per_loc"></div>
        </div>

        <div class="col s12 space-top center-align about">
            <img src="../static/assets/about.jpg" alt="campervan with surf boards on the top">
            <h4 class="font-script" id="quote">The best surfer out there is the one having the most fun!</h4>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

var chart_data = {{ chart_data | safe }};
var chart_data_fac = {{ chart_data_fac | safe }};
var chart_data_haz = {{ chart_data_haz | safe }};

var ndx_data = crossfilter(chart_data);
var ndx_data_fac = crossfilter(chart_data_fac);
var ndx_data_haz = crossfilter(chart_data_haz);

function break_types_chart(ndx_data) {
    var name_dim = ndx_data.dimension(dc.pluck('break_type'));
    var break_types_per_loc = name_dim.group();
    dc.barChart('#break_types_per_loc')
        .width(400)
        .height(200)
        .margins({top: 10, right: 50, bottom: 40, left: 30})
        .dimension(name_dim)
        .group(break_types_per_loc)
        .transitionDuration(1500)
        .x(d3.scaleBand(d3.schemeOranges[3]))
        .xUnits(dc.units.ordinal)
        .xAxisLabel('Break Type')
        .yAxisLabel('Locations')
        .yAxis().ticks(4);
}

function bottom_chart(ndx_data) {
    var name_dim = ndx_data.dimension(dc.pluck('bottom'));
    var bottoms_per_loc = name_dim.group();
    dc.barChart('#bottoms_per_loc')
        .width(400)
        .height(200)
        .margins({top: 10, right: 50, bottom: 40, left: 30})
        .dimension(name_dim)
        .group(bottoms_per_loc)
        .transitionDuration(1500)
        .x(d3.scaleBand(d3.schemeOranges[3]))
        .xUnits(dc.units.ordinal)
        .xAxisLabel('Bottom Type')
        .yAxisLabel('Locations')
        .yAxis().ticks(4);
}

function facilities_chart(ndx_data_fac) {
    var name_dim = ndx_data_fac.dimension(dc.pluck('facilities'));
    var facilities_per_loc = name_dim.group();
    dc.pieChart("#facilities_per_loc")
        .height(330)
        .width(400)
        .radius(90)
        .innerRadius(30)
        .transitionDuration(1500)
        .dimension(name_dim)
        .group(facilities_per_loc)
        .legend(dc.legend())
        .externalLabels(.8)
        .minAngleForLabel(.5);
}

function hazards_chart(ndx_data_haz) {
    var name_dim = ndx_data_haz.dimension(dc.pluck('hazards'));
    var hazards_per_loc = name_dim.group();
    dc.pieChart("#hazards_per_loc")
        .height(330)
        .width(400)
        .radius(90)
        .innerRadius(30)
        .transitionDuration(1500)
        .dimension(name_dim)
        .group(hazards_per_loc)
        .legend(dc.legend())
        .externalLabels(.8)
        .minAngleForLabel(.5);
}

break_types_chart(ndx_data);
bottom_chart(ndx_data);
facilities_chart(ndx_data_fac);
hazards_chart(ndx_data_haz);

dc.renderAll();

</script>

{% endblock %}