{% extends 'base.html' %}

{% block content %}

<div class="container space">
    <div class="row">
        <div class="col s12">
            <p><span class="font-script">SurfingEurope</span> is the 'new kid on the block' in the neighborhood of surfing destinations sites, but already gaining popularity among surfing enthusiasts and alike. Whether you're a travelling pro, big wave rider, local star or weekend warrior, with our range of locations you will always find some place iin europe to keep you going.</p>
            <p><span class="font-script">SurfingEurope</span> isn't about telling you where to go or when, instead providing you with crucial details on the locaions to allow you to become your own surf hunter. We believe in community therefore we encourage all our members to share the local knowledge by adding comments and rating the spots according to their judgement and knowledge. With a little of your time and the help we provide you can explore some of the finest location in Europe!</p>
        </div>
        <div class="col s12 space-top center-align about">
            <img src="../static/assets/about.jpg" alt="campervan with surf boards on the top">
            <h4 class="font-oswald" id="quote">The best surfer out there is the one having the most fun!</h4>
        </div>
    </div>
</div>

{% endblock %}