{% extends 'base.html' %}

{% block content %}

<div class="container space">
    <div class="row">
        <div class="col s12">
            <h6>Please fill all of the below fields to add new location to the site. Thank you!</h6>
            <p class="divider"></p>
        </div>

        <div class="col s12">

            <form action="{{ url_for('add_spot') }}" method="POST">

                <div class="input-field col s12">
                    <input name="name_input" type="text" id="name_input" data-length="64" required>
                    <label for="name_input">Type in location name</label>
                    <span class="helper-text">Please note that this location already exists!</span>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="country_input" required>
                        <option id="country_input" value="" disabled selected>Select from list</option>
                        {% for country in countries %}
                            {% for element in country.country %}
                                <option>{{ element | title }}</option>
                            {% endfor %} 
                        {% endfor %}    
                    </select>
                    <label>Country Name</label>
                </div>

                <div class="input-field col s12">
                    <input name="region_input" type="text" id="region_input" data-length="64" required>
                    <label for="region_input">Type in country region</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="break_type_input" required>
                        <option value="0" disabled selected>Select from list</option>
                        {% for break in break_types %}
                            {% for element in break.break_type %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %}  
                    </select>
                    <label>Break Type</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="wave_direction_input" required>
                        <option value="0" disabled selected>Select from list</option>
                        {% for wave in wave_directions %}
                            {% for element in wave.wave_direction %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Wave Direction</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="wind_direction_input" required>
                        <option value="0" disabled selected>Select from list</option>
                        {% for wind in wind_directions %}
                            {% for element in wind.wind_direction %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Wind Direction</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="swell_direction_input" required>
                        <option value="0" disabled selected>Select from list</option>
                        {% for swell in swell_directions %}
                            {% for element in swell.swell_direction %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Swell Direction</label>
                </div>
                
                <div class="input-field col s12">
                    <select id="category" name="bottom_input" required>
                        <option value="0" disabled selected>Select from list</option>
                        {% for surface in bottom %}
                            {% for element in surface.bottom %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Bottom</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="surroundings_input" required>
                        <option value="0" disabled selected>Select from list</option>
                        {% for area in surroundings %}
                            {% for element in area.surroundings %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Surroundings</label>
                </div>

                <div class="input-field col s12">
                    <input name="img_url_input" type="text" id="img_url_input" pattern="https://.*">
                    <label for="img_url_input">Include image url address starting with https://</label>
                </div>

                <div class="col s12">
                    <p class="grey-text">Please select below the Facilities you wish to include in the search:</p>
                    {% for facility in facilities %}
                        {% for facility_name in facility.facilities %}
                            <div class="col s12 m6 l4">
                                <label for="facility{{ loop.index }}">
                                    <input type="checkbox" id="facility{{ loop.index }}" class="filled-in" name="{{ facility_name }}" value="facility"/>
                                    <span>{{ facility_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                
                <div class="col s12">
                    <p class="grey-text">Please select below the Hazards you wish to exclude from the 
                    {% for hazard in hazards %}
                        {% for hazard_name in hazard.hazards %}
                            <div class="col s12 m6 l4">
                                <label for="hazard{{ loop.index }}">
                                    <input type="checkbox" id="hazard{{ loop.index }}" class="filled-in" name="{{ hazard_name }}" value="hazard"/>
                                    <span>{{ hazard_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                <div class="col s12">
                    <div class="input-field col s12">
                        <p>
                            <label class="grey-text">Add Rating</label>
                        </p>
                        <p>
                            <label>
                                <input name="add_rating" type="radio" value="1" />
                                <span>1 - Nah.. get me out of here!</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="add_rating" type="radio" value="2" />
                                <span>2</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="add_rating" type="radio" value="3" checked />
                                <span>3</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="add_rating" type="radio" value="4" />
                                <span>4</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="add_rating" type="radio" value="5" />
                                <span>5 - Whoa! That's a splendid spot!</span>
                            </label>
                        </p>
                    </div>
                </div>

                <div class="input-field col s12">
                    <textarea id="textarea" name="add_description" class="materialize-textarea" data-length="1200" required></textarea>
                    <label for="textarea1">Add Description</label>
                </div>

                <div class="col s12 m6 center-align">
                    <button class="btn waves-effect waves-yellow space-top" type="submit" name="action">ADD LOCATION</button>
                </div>
            </form>

            <div class="col s12 m6 center-align">
                <a href="{{ url_for('index') }}"><button class="btn red waves-effect waves-yellow space-top">CANCEL</button></a>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

var locNames = {{ location_name | safe }};
var result = [];

for (var i = 0; i < locNames.length; i++) {
    var element = locNames[i];
    for (var key in element) {
        result.push(element[key]);
    }
}

$(document).ready(function() {

    // Checks in place to make sure there are no duplications in location names and length limit is not exceeded

    $('.helper-text').css({ 'background': 'transparent'}).hide();

    var name_input = $('#name_input').val();

    $('#name_input').bind('input propertychange', function() {
        if (result.includes($(this).val().toLowerCase())) {
            $('.helper-text').css({ 'background': '#ffebee'}).show();
            $('.btn').addClass('disabled');
        } else {
            $('.helper-text').css({ 'background': 'transparent'}).hide();
            $('.btn').removeClass('disabled');
        }
        if ($(this).val().length > 64) {
            $('.btn').addClass('disabled');
        }
    });

    // Checks in place to make sure that length of region input limit is not exceeded

    $('#region_input').bind('input propertychange', function() {
        if ($(this).val().length > 64) {
            $('.btn').addClass('disabled');
        } else {
            $('.btn').removeClass('disabled');
        }
    });

    // Checks in place to make sure that length of description limit is not exceeded

    $('#textarea').bind('input propertychange', function() {
        if ($(this).val().length > 1200) {
            $('.btn').addClass('disabled');
        } else {
            $('.btn').removeClass('disabled');
        }
    });

    // Checks in place to make sure facilities and hazards are not null and there is a logical selection

    $('#facility8').prop('checked', true);
    $('#hazard7').prop('checked', true);

    var $fac_boxes = $('#facility1, #facility2, #facility3, #facility4, #facility5, #facility6, #facility7').not('#facility8');

    var $fac_boxes_all = $('#facility1, #facility2, #facility3, #facility4, #facility5, #facility6, #facility7, #facility8');

    var $haz_boxes = $('#hazard1, #hazard2, #hazard3, #hazard4, #hazard5, #hazard6').not('#hazard7');

    var $haz_boxes_all = $('#hazard1, #hazard2, #hazard3, #hazard4, #hazard5, #hazard6, #hazard7');

    $('#facility8').change(function () {
        if (this.checked) {
            $fac_boxes.prop('checked', false)
        }
    });

    $fac_boxes.change(function () {
        if (this.checked) {
            $('#facility8').prop('checked', false)
        }
    });

    $('#hazard7').change(function () {
        if (this.checked) {
            $haz_boxes.prop('checked', false)
        }
    });

    $haz_boxes.change(function () {
        if (this.checked) {
            $('#hazard7').prop('checked', false)
        }
    });

    $fac_boxes_all.change(function () {
        if (this.checked != true) {
            $('#facility8').prop('checked', true)
        }
    });

    $haz_boxes_all.change(function () {
        if (this.checked != true) {
            $('#hazard7').prop('checked', true)
        }
    });

});

</script>

{% endblock %}