{% extends 'base.html' %}

{% block content %}

<div class="container space">
    <div class="row">
        <div class="col s12">
            <h5 class="font-oswald">Aloha {{ user | capitalize }}</h5>

            <!-- success message for user interactions -->

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h6 class="green-text">{{ message }}</h6>
                {% endfor %}
            {% endif %}
            {% endwith %}

            <p>Find below all your ratings, comments and locations that you either edited or created:</p>   
        </div>
        <div class="col s12">
            {% for details in locations_user | sort(attribute='name') %} 
                <a href="{{ url_for('spot', location_id=details._id) }}"><h5 class="font-oswald">{{ details.name | upper }}</h5></a>
                {% if details.created_by == user %}
                    <p class="grey-text">You are the author of this location!</p>
                {% endif %}
                {% for rate in details.ratings %}
                    {% if rate.user_name == user %}
                        <p>Your rating: {{ rate.rate }}</p>
                    {% endif %}
                {% endfor %}
                {% for comment in details.comments | sort(reverse=True, attribute='date_added') %}
                    {% if comment.user_name == user %}
                        <p>Your comment on {{ comment.date_added }}</p>
                        <p class="padding-left"><i>{{ comment.comment }}</i></p>
                    {% endif %}
                {% endfor %}
                {% for update in details.edited_by | sort(reverse=True, attribute='date_added') %}
                    {% if update.user_name == user %}
                        <p>Your update on {{ update.date_added }}</p>
                    {% endif %}
                {% endfor %}
                <p class="divider"></p>
            {% endfor %}
        </div>


        <div class="col s12">
            <p>Done for today? <a href="{{ url_for('user_logout') }}">Log out here</a></p>
        </div>

    </div>
</div>

{% endblock %}