<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Categories</title>
</head>
<body>
    <h1>Hellllllllo!</h1>
    <p>
    {% for category in categories %}
            {{category.country}}<br>
            {{category.break_type}}<br>
            {{category.wave_direction}}<br>
            {{category.wind_direction}}<br>
            {{category.swell_direction}}<br>
            {{category.bottom}}<br>
            {{category.facilities}}<br>
            {{category.surroundings}}<br>
            {{category.hazards}}<br>
        {% endfor %}
    </p>
</body>
</html>