{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">    
        <div class="col s12">

            <form action="{{ url_for('editSpot', location_id=location._id ) }}" method="POST">

                <div class="col s12">
                    <h5>{{ location.name | title }}</h5>
                </div>
                <!-- <div class="input-field col s12">
                    <input value="{{ location.name | title }}" name="name_input" type="text" id="name_input" data-length="64" required>
                    <label for="name_input">Type in location name</label>
                </div> -->
                <div class="col s12">
                    <h6>{{ location.country | title }} | {{ location.region | title }}</h6>
                </div>
                <!-- <div class="input-field col s12">
                    <select id="category" name="country_input" required>
                        <option id="country_input" value="" disabled selected>{{ location.country | title }}</option>
                        {% for country in countries %}
                            {% for element in country.country %}
                                <option>{{ element | title }}</option>
                            {% endfor %} 
                        {% endfor %}    
                    </select>
                    <label>Country Name</label>
                </div>

                <div class="input-field col s12">
                    <input value="{{ location.region | title }}" name="region_input" type="text" id="region_input" data-length="64" required>
                    <label for="region_input">Type in country region</label>
                </div> -->

                <div class="input-field col s12">
                    <select id="category" name="break_type_input" required>
                        {% for break in break_types %}
                            {% for element in break.break_type %}
                                {% if location.break_type == element %}
                                    <option selected>{{ element }}</option>    
                                {% else %}
                                    <option>{{ element }}</option>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %}  
                    </select>
                    <label>Break Type</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="wave_direction_input" required>
                        {% for wave in wave_directions %}
                            {% for element in wave.wave_direction %}
                                {% if location.wave_direction == element %}
                                    <option selected>{{ element }}</option>    
                                {% else %}
                                    <option>{{ element }}</option>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Wave Direction</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="wind_direction_input" required>
                        {% for wind in wind_directions %}
                            {% for element in wind.wind_direction %}
                                {% if location.wind_direction == element %}
                                    <option selected>{{ element }}</option>    
                                {% else %}
                                    <option>{{ element }}</option>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Wind Direction</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="swell_direction_input" required>
                        {% for swell in swell_directions %}
                            {% for element in swell.swell_direction %}
                                {% if location.swell_direction == element %}
                                    <option selected>{{ element }}</option>    
                                {% else %}
                                    <option>{{ element }}</option>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Swell Direction</label>
                </div>
                
                <div class="input-field col s12">
                    <select id="category" name="bottom_input" required>
                        {% for surface in bottom %}
                            {% for element in surface.bottom %}
                                {% if location.bottom == element %}
                                    <option selected>{{ element }}</option>    
                                {% else %}
                                    <option>{{ element }}</option>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Bottom</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="surroundings_input" required>
                        {% for area in surroundings %}
                            {% for element in area.surroundings %}
                                {% if location.surroundings == element %}
                                    <option selected>{{ element }}</option>    
                                {% else %}
                                    <option>{{ element }}</option>
                                {% endif %}
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Surroundings</label>
                </div>

                <div class="col s12">
                    <p class="grey-text">Please select below the Facilities you wish to include in the search:</p>
                    {% for facility in facilities %}
                        {% for facility_name in facility.facilities %}
                            <div class="col s12 m6 l4" id="fac">
                                <label for="facility{{ loop.index }}">
                                    {% if facility_name in location.facilities %}
                                        <input type="checkbox" id="facility{{ loop.index }}" class="filled-in" name="{{ facility_name }}" value="facility" checked/>
                                    {% else %}
                                        <input type="checkbox" id="facility{{ loop.index }}" class="filled-in" name="{{ facility_name }}" value="facility" />
                                    {% endif %}
                                    <span>{{ facility_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="col s12">
                    <p class="grey-text">Please select below the Hazards you wish to exclude from the 
                    {% for hazard in hazards %}
                        {% for hazard_name in hazard.hazards %}
                            <div class="col s12 m6 l4">
                                <label for="hazard{{ loop.index }}">
                                    {% if hazard_name in location.hazards %}
                                        <input type="checkbox" id="hazard{{ loop.index }}" class="filled-in" name="{{ hazard_name }}" value="hazard" checked/>
                                    {% else %}
                                        <input type="checkbox" id="hazard{{ loop.index }}" class="filled-in" name="{{ hazard_name }}" value="hazard" />
                                    {% endif %}
                                    <span>{{ hazard_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                
                <div class="input-field col s12" id="desc">
                    <textarea id="textarea" name="add_description" class="materialize-textarea" data-length="1200" required>{{ location.description }}</textarea>
                    <label for="textarea1">Add Description</label>
                </div>

                <div class="col s12 checkbox-error"></div>

                <div class="col s12 m6 center-align">
                    <button class="btn waves-effect waves-light" id="update" type="submit" name="action">SAVE CHANGES</button>
                </div>
                                
            </form>

            <div class="col s12 m6 center-align">
                <a href="{{ url_for('spot', location_id=location._id) }}"><button class="btn waves-effect waves-light">CANCEL</button></a>
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>

$(document).ready(function() {

    // Checks in place to make sure that length of description limit is not exceeded

    $('#textarea').bind('input propertychange', function() {
        if ($(this).val().length > 1200) {
            $('#update').addClass('disabled');
        } else {
            $('#update').removeClass('disabled');
        }
    });

    // Checks in place to make sure facilities and hazards follow logical selection and no blanks are posted to backend

    var $fac_boxes = $('#facility1, #facility2, #facility3, #facility4, #facility5, #facility6, #facility7').not('#facility8');

    var $fac_boxes_all = $('#facility1, #facility2, #facility3, #facility4, #facility5, #facility6, #facility7, #facility8');

    var $haz_boxes = $('#hazard1, #hazard2, #hazard3, #hazard4, #hazard5, #hazard6').not('#hazard7');

    var $haz_boxes_all = $('#hazard1, #hazard2, #hazard3, #hazard4, #hazard5, #hazard6, #hazard7');

    $('#facility8').change(function () {
        if (this.checked) {
            $fac_boxes.prop('checked', false)
        }
    });

    $fac_boxes.change(function () {
        if (this.checked) {
            $('#facility8').prop('checked', false)
        }
    });

    $('#hazard7').change(function () {
        if (this.checked) {
            $haz_boxes.prop('checked', false)
        }
    });

    $haz_boxes.change(function () {
        if (this.checked) {
            $('#hazard7').prop('checked', false)
        }
    });

    // $fac_boxes_all.change(function () {
    //     if (this.checked == false) {
    //         $('#update').addClass('disabled');
    //         $( ".checkbox-error" ).append( "<p>Please select at least one checkbox for facitilies and hazards to proceed!</p>" );
    //     } else {
    //         $('#update').removeClass('disabled');
    //         $( ".checkbox-error > p" ).remove()
    //     }
    // });

    // $haz_boxes_all.change(function () {
    //     if (this.checked == false) {
    //         $('#update').addClass('disabled');
    //         $( ".checkbox-error" ).append( "<p>Please select at least one checkbox for facitilies and hazards to proceed!</p>" );
    //     } else {
    //         $('#update').removeClass('disabled');
    //         $( ".checkbox-error > p" ).remove()
    //     }
    // });

});

</script>

{% endblock %}