{% extends 'base.html' %}

{% block content %}

<div class="row hero-img">
    <img src="{{ url_for('static', filename='assets/hero_main.jpg') }}">
    <div class="col s12 valign-wrapper welcome-txt">
        <h3 class="center-align">Explore Surfing Locations in Europe</h3>
    </div>
    <div class="col s12 valign-wrapper welcome-btn">
        <a href="{{ url_for('locations') }}" class="waves-effect btn-flat" id="explore">EXPLORE ALL</a>
    </div>
</div>

<div class="container">

    <h4 class="center-align">Aloha {{ user }}! Check the top rated locations:</h4>
    <div class="row">
        {% for location in locations | sort(attribute='name') %}
        {% if loop.index <= 3 %}
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9mc03R0DpiqAoT63-c7Ap5A8cl1b5f7UKKxhCI62alUOwuHWB">
                        <span class="card-title">{{location.name}}</span>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{location.country}} | {{location.break_type}}</p>
                    </div>
                    <div class="card-action center-align">
                        <!-- <a href="#">This is a link</a> -->
                        <a href="{{ url_for('spot', location_id=location._id) }}" class="waves-effect btn-flat light-blue-text">Explore</a>
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
    </div>

    <h4 class="center-align">Check some other locations on our list:</h4>
    <div class="row">
        {% for location in random %}
            <div class="col s12 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9mc03R0DpiqAoT63-c7Ap5A8cl1b5f7UKKxhCI62alUOwuHWB">
                        <span class="card-title">{{location.name}}</span>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{location.country}} | {{location.break_type}}</p>
                    </div>
                    <div class="card-action center-align">
                        <!-- <a href="#">This is a link</a> -->
                        <a href="{{ url_for('spot', location_id=location._id) }}" class="waves-effect btn-flat light-blue-text">Explore</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

</div>

{% endblock %}