{% extends 'base.html' %}

{% block content %}
    <p>
    {% for category in categories %}
            {{category.country}}<br>
            {{category.break_type}}<br>
            {{category.wave_direction}}<br>
            {{category.wind_direction}}<br>
            {{category.swell_direction}}<br>
            {{category.bottom}}<br>
            {{category.facilities}}<br>
            {{category.surroundings}}<br>
            {{category.hazards}}<br>
        {% endfor %}
    </p>
{% endblock %}