{% extends 'base.html' %}

{% block content %}

<div class="row hero-img">
    <img src="{{ url_for('static', filename='assets/hero_main.jpg') }}">
    <div class="col s12 valign-wrapper welcome-txt">
        <h3 class="center-align">Explore Surfing Locations in Europe</h3>
    </div>
    <div class="col s12 valign-wrapper welcome-btn">
        <a href="{{ url_for('locations') }}" class="waves-effect btn-flat" id="explore">EXPLORE ALL</a>
    </div>
</div>

<div class="container">

<!-- Top Rated Locations -->

    <h4 class="center-align">Aloha! Check the top rated locations:</h4>
    <div class="row">
        {% for location in locations %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        {% if 'admin' in location.img_url %}
                            <img src="../static/assets/dummy_cover.jpg">
                        {% else %}
                            <img src="{{ location.img_url[0] }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                        {% endif %}
                        <div class="card-title">
                            <span>{{ location._id | title }}</span>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

<!-- Randomly Selected Locations -->

    <h4 class="center-align">Check some other locations on our list:</h4>
    <div class="row">
        {% for location in locations_random %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        {% if 'admin' in location.img_url %}
                            <img src="../static/assets/dummy_cover.jpg">
                        {% else %}
                            <img src="{{ location.img_url[0] }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                        {% endif %}
                        <div class="card-title">
                            <span>{{ location._id | title }}</span>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>

</div>

{% endblock %}