{% extends 'base.html' %}

{% block content %}

<!-- Filter and Search -->

<div class="container">
    <div class="row">
        <div class="col s12">
            <h5>Please find below all available surfing locations in Europe.</h5>
            <h6>Use the filter to sort locations by Name or Country:</h6>
        </div>
        <div class="col s12 m4 center-align">
            <a href="{{ url_for('locations') }}" class="waves-effect btn-flat">Sort by Name</a>
        </div>
        <div class="col s12 m4 center-align">
            <a href="{{ url_for('locations_by_country') }}" class="waves-effect btn-flat">Sort by Country</a>
        </div>
        <div class="col s12 m4 center-align">
                <a href="{{ url_for('locations_by_rating') }}" class="waves-effect btn-flat">Sort by Rating</a>
            </div>
        <div class="col s12">
            <h6>Alternatively do the search here</h6>
            <a href="{{ url_for('search') }}" class="waves-effect btn-flat">SEARCH</a>
        </div>
    </div>
</div>

<!-- Location cards -->

<div class="container">
    <div class="row">
        {% for location in locations %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-image">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9mc03R0DpiqAoT63-c7Ap5A8cl1b5f7UKKxhCI62alUOwuHWB">
                        <span class="card-title">{{ location._id | title }}</span>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>                            
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                    <div class="card-action center-align">
                        <h6>Explore</h6>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <ul class="pagination">
                <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
                {% for page in page_range %}
                    {% if page == current_page %}
                        <li class="active"><a>{{ page }}</a></li>
                    {% else %}
                        <li class="waves-effect"><a href="{{ url_for('locations', current_page=page) }}">{{ page }}</a></li>
                    {% endif %}
                {% endfor  %}
                <!-- <li class="waves-effect"><a href="#!">2</a></li>
                <li class="waves-effect"><a href="#!">3</a></li>
                <li class="waves-effect"><a href="#!">4</a></li>
                <li class="waves-effect"><a href="#!">5</a></li> -->
                <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>
        </div>
    </div>
</div>

{% endblock %}
