{% extends 'base.html' %}

{% block content %}

<!-- Filter and Search -->

<div class="container">
    <div class="row">
        <div class="col s12 m6 space-top">
            <h5>Please find below all available surfing locations in Europe</h5>
            <h6>Use the filters to help you sort locations by name, country or rating</h6>
        </div>
        <div class="col s12 m6 space-top">
            <div class="col s12 center-align filter">
                <a href="{{ url_for('locations', sort_by=filters[0]) }}" class="waves-effect waves-yellow btn-small btn-space">Sort by Name</a>
            </div>
            <div class="col s12 center-align filter">
                <a href="{{ url_for('locations', sort_by=filters[1]) }}" class="waves-effect waves-yellow btn-small btn-space">Sort by Country</a>
            </div>
            <div class="col s12 center-align filter">
                <a href="{{ url_for('locations', sort_by=filters[2]) }}" class="waves-effect waves-yellow btn-small btn-space">Sort by Rating</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12 m6 space-top">
            <h6>Alternatively visit our seach page for tailored results</h6>
        </div>
        <div class="col s12 m6 center-align space-top">
            <a href="{{ url_for('search') }}" class="waves-effect waves-yellow btn-small">SEARCH</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 border"></div>
    </div>
</div>

<!-- Location cards -->

<div class="container space" id="search_results">
    <div class="row">
        {% for location in locations %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        {% if 'admin' in location.img_url %}
                            <img src="../static/assets/dummy_cover.jpg">
                        {% else %}
                            <img src="{{ location.img_url[0] }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                        {% endif %}
                        <div class="card-title">
                            <span class="font-oswald">{{ location._id | upper }}</span>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <ul class="pagination">
                {% if page == 1 %}
                    <li class="waves-effect waves-red"><a><i class="material-icons">chevron_left</i></a></li>
                {% else %}
                    {% if sort_by == filters[0] %}
                        <li class="waves-effect waves-teal"><a href="{{ url_for('locations', page=page - 1) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% elif sort_by == filters[1] %}
                        <li class="waves-effect waves-teal"><a href="{{ url_for('locations', sort_by=filters[1], page=page - 1) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% elif sort_by == filters[2] %}
                        <li class="waves-effect waves-teal"><a href="{{ url_for('locations', sort_by=filters[2], page=page - 1) }}"><i class="material-icons">chevron_left</i></a></li>
                    {% endif %}    
                {% endif %}
                {% for p in page_range %}
                    {% if p == page %}
                        <li class="active"><a>{{ p }}</a></li>
                    {% else %}
                        {% if sort_by == filters[0] %}
                            <li class="waves-effect waves-teal"><a href="{{ url_for('locations', page=p) }}">{{ p }}</a></li>
                        {% elif sort_by == filters[1] %}
                            <li class="waves-effect waves-teal"><a href="{{ url_for('locations', sort_by=filters[1], page=p) }}">{{ p }}</a></li>
                        {% elif sort_by == filters[2] %}
                            <li class="waves-effect waves-teal"><a href="{{ url_for('locations', sort_by=filters[2], page=p) }}">{{ p }}</a></li>
                        {% endif %}    
                    {% endif %}
                {% endfor  %}
                {% if page < page_range|length %}
                    {% if sort_by == filters[0] %}
                        <li class="waves-effect waves-teal"><a href="{{ url_for('locations', page=page + 1) }}"><i class="material-icons">chevron_right</i></a></li>
                    {% elif sort_by == filters[1] %}
                        <li class="waves-effect waves-teal"><a href="{{ url_for('locations', sort_by=filters[1], page=page + 1) }}"><i class="material-icons">chevron_right</i></a></li>
                    {% elif sort_by == filters[2] %}
                        <li class="waves-effect waves-teal"><a href="{{ url_for('locations', sort_by=filters[2], page=page + 1) }}"><i class="material-icons">chevron_right</i></a></li>
                    {% endif %}
                {% else %}
                    <li class="waves-effect waves-red"><a><i class="material-icons">chevron_right</i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

{% endblock %}