{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">

<!-- messages for user login interactions -->

        <div class="container space center-align">
            <div class="row">
                <div class="col s12">
                    {% with search = get_flashed_messages(category_filter=['search']) %}
                        {% if search %}
                            {% for message in search %}                            
                                <h5>{{ message }}</h5>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    {% with add = get_flashed_messages(category_filter=['add']) %}
                        {% if add %}
                            {% for message in add %}                            
                                <h5>{{ message }}</h5>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </div>
                <div class="col s12 error space-top">
                    <img src="../static/assets/error.jpg" alt="A lost man in the sea">
                </div>

                <div class="col s12 m6 center-align space-top">
                    <a href="{{ url_for('search') }}" class="waves-effect waves-yellow btn-small btn-space">BACK TO SEARCH</a>
                </div>

                <div class="col s12 m6 center-align space-top">
                    <a href="{{ url_for('add_spot') }}" class="waves-effect waves-yellow btn-small btn-space">ADD SPOT</a>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}