{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="col s12">
        <h5>Please register with your username below to access all the exciting features of the SurfingEurope site:</h5>
    </div>
</div>

<div class="container form">
    <div class="row">
        <div class="col s12">
            <form method="POST" action="{{ url_for('register') }}">

                <div class="row">

                    <div class="input-field col s12">
                        <input placeholder="joebloggs" id="username" name="username" type="text" class="validate" data-length="32" required>
                        <label for="username">Username</label>
                        <!-- <span class="helper-text" data-error="Incorrect input. Please stick to the guidline!" data-success="That's a correct input">Please provide username between 2 and 10 characters without white spaces</span> -->
                    </div>
                    <div class="input-field col s12">
                        <input disabled value="Password not requred" id="disabled" type="text" class="validate">
                        <label for="disabled">Disabled</label>
                    </div>

                    <button class="btn waves-effect waves-light" type="submit" name="action">Register
                    </button>

                    {% if error %}
                        <p><strong>Ehm..</strong> {{ error }}
                    {% endif %}

                </div>

                <div>
                    <h6>If you already registered please <a href="{{ url_for('user') }}">Log in here</a>.</h6>
                </div>

            </form>
        </div>

    </div>
</div>

{% endblock %}

{% block script %}

<script>

// Checks in place to make sure that length limit is not exceeded

$(document).ready(function() {

    $('#username').bind('input propertychange', function() {
        if ($(this).val().length < 3 || $(this).val().length > 32) {
            $('.btn').addClass('disabled');
        } else {
            $('.btn').removeClass('disabled');
        }
    });

});

</script>

{% endblock %}