{% extends 'base.html' %}

{% block content %}

<div class="container space-top">
    <div class="row">

        <div id="search_name">
            <form action="{{ url_for('search_by_name') }}" method="POST">

                <div class="input-field col s12 m8">
                    <i class="material-icons prefix">search</i>
                    <input name="search_by_name" type="text" id="search_by_name" class="autocomplete" required>
                    <label for="search_by_name">Type location name</label>
                </div>

                <div class="col s12 m4 center-align">
                    <button class="btn waves-effect waves-yellow" type="submit" name="action">SEARCH</button>
                </div>

            </form>
        </div>

        <div class="col s12 space-top space-bottom">
            <a id="advanced_btn" class="font-oswald">ADVANCED SEARCH</a>
        </div>

        <div class="hide" id="advanced_form">

            <form action="{{ url_for('advanced_search') }}" method="POST">
        
                <div class="input-field col s12">
                    <select id="category" name="country_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for country in countries %}
                            {% for element in country.country %}
                                <option>{{ element | title }}</option>
                            {% endfor %} 
                        {% endfor %}    
                    </select>
                    <label>Country Name</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="break_type_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for break in break_types %}
                            {% for element in break.break_type %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %}  
                    </select>
                    <label>Break Type</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="wave_direction_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for wave in wave_directions %}
                            {% for element in wave.wave_direction %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Wave Direction</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="bottom_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for surface in bottom %}
                            {% for element in surface.bottom %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Bottom</label>
                </div>

                <div class="col s12">
                    <p class="grey-text">Please select below the Facilities you wish to include in the search:</p>
                    {% for facility in facilities %}
                        {% for facility_name in facility.facilities %}
                            <div class="col s12 m6 l4">
                                <label for="facility{{ loop.index }}">
                                    <input type="checkbox" id="facility{{ loop.index }}" class="filled-in" name="{{ facility_name }}" value="include"/>
                                    <span>{{ facility_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                
                <div class="col s12">
                    <p class="grey-text">Please select below the Hazards you wish to exclude from the search:</p>
                    {% for hazard in hazards %}
                        {% for hazard_name in hazard.hazards %}
                            <div class="col s12 m6 l4">
                                <label for="hazard{{ loop.index }}">
                                    <input type="checkbox" id="hazard{{ loop.index }}" class="filled-in" name="{{ hazard_name }}" value="exclude"/>
                                    <span>{{ hazard_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="col s12 center-align space">
                    <button class="btn waves-effect waves-yellow" type="submit" name="action">SEARCH</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if name_search %}
        {% for location in name_search %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        {% if 'admin' in location.img_url %}
                            <img src="../static/assets/dummy_cover.jpg">
                        {% else %}
                            <img src="{{ location.img_url[0] }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                        {% endif %}
                        <div class="card-title">
                            <span>{{ location._id | title }}</span>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        {% if adv_search %}
        {% for location in adv_search %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        {% if 'admin' in location.img_url %}
                            <img src="../static/assets/dummy_cover.jpg">
                        {% else %}
                            <img src="{{ location.img_url[0] }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                        {% endif %}
                        <div class="card-title">
                            <span>{{ location._id | title }}</span>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock %}

{% block script %}

<script>

var locNames = {{ location_name | safe }};
var result = [];
for (var i = 0; i < locNames.length; i++) {
    var element = locNames[i];

    for (var key in element) {
        result.push(element[key]);
    }
}       
namesObj = {};
for ( i in result) {
    namesObj[result[i]] = ""
}

$(document).ready(function(){
    $('input.autocomplete').autocomplete({
        data: namesObj
    });

    $('input[name=search_by_name]').bind('input propertychange', function() {
        console.log(this.value.toLowerCase())
        return this.value.toLowerCase();
    })

    var $fac_boxes = $('#facility1, #facility2, #facility3, #facility4, #facility5, #facility6, #facility7').not('#facility8');

    var $haz_boxes = $('#hazard1, #hazard2, #hazard3, #hazard4, #hazard5, #hazard6').not('#hazard7');

    $('#facility8').change(function () {
        if (this.checked) {
            $fac_boxes.prop('checked', false)
        }
    });
    $fac_boxes.change(function () {
        if (this.checked) {
            $('#facility8').prop('checked', false)
        }
    })

    $('#hazard7').change(function () {
        if (this.checked) {
            $haz_boxes.prop('checked', false)
        }
    });
    $haz_boxes.change(function () {
        if (this.checked) {
            $('#hazard7').prop('checked', false)
        }
    })

});

</script>

{% endblock %}