{% extends 'base.html' %}

{% block content %}

<div class="container space">
    <div class="row">
        <div class="col s12">
            <!-- No results message for user interactions -->

            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h6>{{ message }}</h6>
                {% endfor %}
            {% endif %}
            {% endwith %}
        </div>
    </div>
    <div class="row">

        <form action="{{ url_for('search_by_name') }}" method="POST">

            <div class="input-field col s12 m8">
                <i class="material-icons prefix">search</i>
                <input name="search_by_name" type="text" id="search_by_name" class="autocomplete">
                <label for="search_by_name">Autocomplete</label>
            </div>

            <div class="col s12 m4 center-align">
                <button class="btn waves-effect waves-light" type="submit" name="action">SEARCH</button>
            </div>

            <div class="col s12">
                {% if error %}
                    <p><strong>Oups!</strong> {{ error }}
                {% endif %}
            </div>

        </form>

        <div class="col s12">
            <a id="advanced_btn">Advanced search</a>
        </div>

        <div class="hide" id="advanced_form">

            <form action="{{ url_for('advanced_search') }}" method="POST">
        
                <div class="input-field col s12">
                    <select id="category" name="country_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for country in countries %}
                            {% for element in country.country %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %}    
                    </select>
                    <label>Country Name</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="break_type_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for break in break_types %}
                            {% for element in break.break_type %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %}  
                    </select>
                    <label>Break Type</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="wave_direction_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for wave in wave_directions %}
                            {% for element in wave.wave_direction %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Wave Direction</label>
                </div>

                <div class="input-field col s12">
                    <select id="category" name="bottom_selection">
                        <option value="0" disabled selected>Choose your option</option>
                        {% for surface in bottom %}
                            {% for element in surface.bottom %}
                                <option>{{ element }}</option>
                            {% endfor %} 
                        {% endfor %} 
                    </select>
                    <label>Bottom</label>
                </div>

                <div class="col s12">
                    <p class="grey-text">Please select below the Facilities you wish to include in the search:</p>
                    {% for facility in facilities %}
                        {% for facility_name in facility.facilities %}
                            <div class="col s12 m6 l4">
                                <label for="facility{{ loop.index }}">
                                    <input type="checkbox" id="facility{{ loop.index }}" class="filled-in" name="{{ facility_name }}" value="include"/>
                                    <span>{{ facility_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
                
                <div class="col s12">
                    <p class="grey-text">Please select below the Hazards you wish to exclude from the 
                    {% for hazard in hazards %}
                        {% for hazard_name in hazard.hazards %}
                            <div class="col s12 m6 l4">
                                <label for="hazard{{ loop.index }}">
                                    <input type="checkbox" id="hazard{{ loop.index }}" class="filled-in" name="{{ hazard_name }}" value="exclude"/>
                                    <span>{{ hazard_name }}</span>
                                </label>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>

                <div class="col s12 center-align space">
                    <button class="btn waves-effect waves-light" type="submit" name="action">SEARCH</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    var locNames = {{ location_name | safe }};
    var result = [];
    for (var i = 0; i < locNames.length; i++) {
        var element = locNames[i];

        for (var key in element) {
            result.push(element[key]);
        }
    }       
    namesObj = {};
    for ( i in result) {
        namesObj[result[i]] = ""
    }



    $(document).ready(function(){

        $('input.autocomplete').autocomplete({
        data: namesObj
        });

        $('#advanced_btn').click(function(){
            $('#advanced_form').toggleClass('hide');
            $('#advanced_btn').toggleClass('grey-text');
        });

    });
</script>

{% endblock %}