{% extends 'base.html' %}

{% block content %}

<!-- failure message for user interactions -->

{% with delete = get_flashed_messages(category_filter=['delete']) %}
{% if delete %}
    {% for message in delete %}
        <div class="container space-top">
            <div class="col s12">
                <h6 class="red-text">{{ message }}</h6>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container">
        <div class="row">
            <div class="col s12">

                <!-- messages for user rate or comment interactions -->
                
                {% with spot = get_flashed_messages(category_filter=['spot']) %}
                    {% if spot %}
                        {% for message in spot %}                            
                            <h5 class="teal-text">{{ message }}</h5>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
            </div>
        </div>
    </div>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="col s12 m6">
                <h4 class="font-oswald">{{ location.name | upper }}</h4>
                <h5>{{ location.country | title }} | {{ location.region | title }}</h5>
                <p class="divider"></p>
                <h6 class="font-oswald">DETAILS</h6>
                <ul>
                    <li>Break Type: {{ location.break_type }}</li>
                    <li>Wave Direction: {{ location.wave_direction }}</li>
                    <li>Wind Direction: {{ location.wind_direction }}</li>
                    <li>Swell Direction: {{ location.swell_direction }}</li>
                    <li>Bottom: {{ location.bottom }}</li>
                    <li>Surroundings: {{ location.surroundings }}</li>
                </ul>
            </div>

            <div class="col s12 m6">
                <div class="card small">
                    <div class="card-image spot">
                    {% if 'admin' in location.img_url %}
                        <img src="../static/assets/dummy_cover.jpg">
                    {% else %}
                        <img src="{{ location.img_url }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                    {% endif %}
                    </div>
                    <div class="overlay"></div>
                </div>
            </div>
        </div>

        <div class="col s12">
            <div class="col s12 m6">
                <ul>
                    <li>
                        <ul><h6 class="font-oswald">FACILITIES</h6>
                            {% for value in location.facilities %}
                            <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col s12 m6">
                <ul>
                    <li>
                        <ul><h6 class="font-oswald">HAZARDS</h6>
                            {% for value in location.hazards %}
                            <li>{{ value }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="col s12 border"></div>

        <div class="col s12 small-text">
            <p>Created by: {{ location.created_by | title }}</p>
            <p>Updated by:</p>
            <div class="scroll">
                {% if location.edited_by %}
                    {% for edits in location.edited_by | sort(reverse=True, attribute='date_added') %}
                        <ul>
                            <li>{{ edits.user_name | title }} on <i>{{ edits.date_added }}</i></li>
                        </ul>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="col s12 border"></div>
        
        <div class="col s12">
            <h6 class="font-oswald">DESCRIPTION</h6>
            <p>{{ location.description }}</p>
        </div>

        <div class="col s12 border"></div>

        <div class="col s12">
            <h6 class="font-oswald">RATINGS</h6>
            <div class="scroll">
                {% for rate in location.ratings %}
                    {% if rate.rate is defined and rate.rate != None %}
                        <p>{{ rate.rate }} by {{ rate.user_name }}</p>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
            
        <div class="col s12 border"></div>

        <div class="col s12">
            <h6 class="font-oswald">COMMENTS</h6>
            <div class="scroll">
                {% for comment in location.comments | sort(reverse=True, attribute='date_added') %}
                    <p>> {{ comment.user_name }} on <i>{{ comment.date_added }}</i></p>
                    <p>{{ comment.comment }}</p>
                {% endfor %}
            </div>
        </div>

        <div class="col s12 border"></div>
 
    </div>
</div>

<!-- messages for user login interactions -->

<div class="container">
    <div class="row">
        <div class="col s12">
            {% with login = get_flashed_messages(category_filter=['login']) %}
                {% if login %}
                    {% for message in login %}                            
                        <h6>{{ message }}</h6>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
        <div class="col s12 space-top">
            <div class="col s12 m4 center-align">
                <a href="{{ url_for('user_input', location_id=location._id) }}" class="waves-effect waves-yellow btn-small btn-space">Rate or Comment</a>
            </div>

            <div class="col s12 m4 center-align">
                <a href="{{ url_for('editSpot', location_id=location._id) }}" class="waves-effect waves-yellow btn-small btn-space">EDIT LOCATION</a>
            </div>

            <div class="col s12 m4 center-align">
                <a href="{{ url_for('delete', location_id=location._id) }}" class="waves-effect waves-yellow btn-small btn-space">REMOVE</a>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <h5 class="center-align">Alternatively explore some other locations on our list:</h5>
    <div class="row">
        {% for location in locations_random %}
        <a href="{{ url_for('spot', location_id=location.old_id[0]) }}">
            <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        {% if 'admin' in location.img_url %}
                            <img src="../static/assets/dummy_cover.jpg">
                        {% else %}
                            <img src="{{ location.img_url[0] }}" onError="this.onError=null;this.src='../static/assets/dummy_cover.jpg'">
                        {% endif %}
                        <div class="card-title">
                            <span>{{ location._id | title }}</span>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            <i class="material-icons">star</i>
                        </div>
                        <div class="btn-floating halfway-fab transparent center-align">
                            {% if location.average_rating == None %}
                                <p class="rating-floating">{{0}}</p>
                            {% else %}
                                <p class="rating-floating">{{ location.average_rating | round|int }}</p>
                            {% endif %}
                        </div>
                        <div class="overlay"></div>
                    </div>
                    <div class="card-content center-align light-blue white-text">
                        <p>{{ location.country_name[0] | title }} | {{ location.break_type_name[0] }}</p>
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <h5 class="center-align">or</h5>
    <div class="col s12 center-align space-bottom">
        <a href="{{ url_for('locations') }}" class="waves-effect waves-yellow btn-small btn-space">EXPLORE ALL</a>
    </div>
</div>


{% endblock %}