{% extends 'base.html' %}

{% block content %}

<div class="container form-empty">
    <h6>Please select one of the forms below:</h6>
    <br>
    <ul class="collapsible">
        <li>
            <div class="collapsible-header">
                <i class="material-icons right">thumb_up</i>Rate {{ location.name }}
            </div>
            <div class="collapsible-body">

                <form action="{{ url_for('user_input', location_id=location._id) }}" method="POST" id="rating">

                    <div class="input-field col s12">
                        <p>
                            <label>
                                <input name="rating" type="radio" value="1"  />
                                <span>1 - Nah.. get me out of here!</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="rating" type="radio" value="2"  />
                                <span>2</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="rating" type="radio" value="3" checked />
                                <span>3</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="rating" type="radio" value="4"  />
                                <span>4</span>
                            </label>
                        </p>
                        <p>
                            <label>
                                <input name="rating" type="radio" value="5"  />
                                <span>5 - Whoa! That's a splendid spot!</span>
                            </label>
                        </p>
                    </div>

                    <div class="col s12 m4 center-align">
                        <button class="btn waves-effect waves-light" type="submit" name="rating" value="user_rate">SUBMIT</button>
                    </div>

                </form>
                
            </div>
        </li>

        <li>
            <div class="collapsible-header"><i class="material-icons right">add_comment</i>Comment on {{ location.name }}</div>

            <div class="collapsible-body">

                    <div class="row">
                        <form class="col s12" action="{{ url_for('user_input', location_id=location._id) }}" method="POST" id="add_comment">
                            <div class="row">
                                <div class="input-field col s12">
                                    <textarea id="textarea1" name="add_comment" class="materialize-textarea"></textarea>
                                    <label for="textarea1">Comment</label>
                                </div>
                            </div>
                            <div class="col s12 center-align">
                                <button class="btn waves-effect waves-light" type="submit" name="add_comment">SUBMIT</button>
                            </div>
                        </form>
                    </div>

            </div>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <a href="{{ url_for('spot', location_id=location._id) }}">GO BACK</a>
        </div>
    </div>
</div>




{% endblock %}