{% extends 'base.html' %}

{% block content %}

<!-- success message for user interactions -->

{% with messages = get_flashed_messages() %}
{% if messages %}
    {% for message in messages %}
        <div class="container">
            <div class="col s12">
                <h6>{{ message }}</h6>
            </div>
        </div>
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container space">
    <div class="col s12">
        <h5>Please log in with your username below to access all the exciting features of the SurfingEurope site:</h5>
    </div>
</div>

<div class="container form">
    <div class="row">
        <div class="col s12">
            <form method="POST" action="{{ url_for('login') }}">

                <div class="row">

                    <div class="input-field col s12">
                        <input placeholder="Username" id="username" name="username" type="text" class="validate" data-length="32" required>
                        <label for="username">Username</label>
                        <span class="helper-text">Please provide username between 3 and 32 characters</span>
                    </div>

                    <button class="btn waves-effect waves-yellow" type="submit" name="action">Log In
                    </button>

                    <div class="col s12">
                        {% if error %}
                            <p class="oups"><strong>Oups!</strong> {{ error }}
                        {% endif %}
                    </div>

                </div>
            </form>

            <div>
                <h6>Don't have an account? <a href="{{ url_for('register') }}">Register here</a></h6>
            </div>

        </div>

    </div>
</div>

{% endblock %}

{% block script %}

<script>

// Checks in place to make sure that length limit is not exceeded

$(document).ready(function() {

    $('#username').bind('input propertychange', function() {
        if ($(this).val().length < 3 || $(this).val().length > 32) {
            $('.btn').addClass('disabled');
        } else {
            $('.btn').removeClass('disabled');
        }
    });

});

</script>

{% endblock %}